<body class="top">
    <header>
        <%= link_to "memos_index", memos_path %>
    </header>

    <main class="top-main-left">
        <h2>ここに画像を挿入</h2>
    </main>

    <main class="top-main-right">
        <h2>ようこそSparXへ</h2>
        <h3>メモの魔力を使って思考を深掘りましょう</h3>
        <%= link_to "ログイン", memos_path %>
        <%= link_to "新規登録", new_user_registration_path %>
    </main>

    <footer class="t-footer">
        <div>基本データヘルププレスAPI求人プライバシー利用規約所在地人気アカウントハッシュタグ言語</div></br>
        <div>© 2021 INSTAGRAM FROM FACEBOOK</div>
    </footer>
</body>